<template>
    <div>
        <button v-if="!show" @click="show = !show" class="btn-primary btn-edit-page">Porneste editarea</button>
        <button v-if="show" @click="saveData" class="btn-primary btn-edit-page">Salveaza modificarile</button>
        <section id="sec_1" class="section-ancor section-50">
            <div class="container section-content">
                <div class="col">
                    <div class="section-name section-name-50 d-flex-vertical-align-center h-100">
                        <h1 class="section-sub-title">
                            <span v-if="!show">{{sistem.sc1_title}}</span><br>
                            <input v-model="form.sc1_title" class="input-edit" v-if="show" type="text"><br>
                            <strong v-if="!show">{{sistem.sc1_desc}}</strong>
                            <textarea v-model="form.sc1_desc" v-if="show" cols="30" rows="10"></textarea>
                        </h1>
                        <p v-if="!show">{{sistem.sc1_text}}</p>
                        <textarea v-model="form.sc1_text" v-if="show" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="col sis-sec-img">
                    <el-upload
                            v-if="show"
                            class="upload-demo"
                            :action="'/api-routes/add-single-product-gallery/'+form.op_id+'/'+1"
                            :headers="{ 'X-CSRF-TOKEN': token }"
                            :on-preview="handlePreview"
                            :on-success="handleGallerySuccess"
                            list-type="picture">
                        <el-button class="buildmap-btn-secondary without-icon" size="small" type="primary">Modifica imaginea
                        </el-button>
                        <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
                    </el-upload>
                    <img v-if="!show" :src="'/images/site/'+sistem.sc1_img" alt="home">
                </div>
            </div>
        </section>
        <section id="sec_2" class="section-ancor section-50 pb0">
            <div class="container section-content">
                <div class="col sis-sec-img">
                    <el-upload
                            v-if="show"
                            class="upload-demo"
                            :action="'/api-routes/add-single-product-gallery/'+form.op_id+'/'+2"
                            :headers="{ 'X-CSRF-TOKEN': token }"
                            :on-preview="handlePreview"
                            :on-success="handleGallerySuccess"
                            list-type="picture">
                        <el-button class="buildmap-btn-secondary without-icon" size="small" type="primary">Modifica imaginea
                        </el-button>
                        <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
                    </el-upload>
                    <img v-if="!show" :src="'/images/site/'+sistem.sc2_img" alt="home">
                </div>
                <div class="col">
                    <div class="section-name section-name-50 d-flex-vertical-align-center h-100">
                        <h1 class="section-sub-title">
                            <span v-if="!show">{{sistem.sc2_title}}</span><br>
                            <input v-model="form.sc2_title" class="input-edit" v-if="show" type="text"><br>
                            <strong v-if="!show">{{sistem.sc2_desc}}</strong>
                            <textarea v-model="form.sc2_desc" v-if="show" cols="30" rows="10"></textarea>
                        </h1>
                        <span v-if="!show" v-html="form.sc2_text"></span>
                        <textarea v-model="form.sc2_text" v-if="show" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </section>

        <carousel-sistem v-if="!show" :idsec="sistem.gallery"></carousel-sistem>
        <el-upload
                v-if="show"
                class="upload-demo"
                :action="'/api-routes/add-product-gallery/'+form.op_id+'/'+1"
                :headers="{ 'X-CSRF-TOKEN': token }"
                :on-preview="handlePreview"
                :on-success="handleGallerySuccess"
                :on-remove="delGallery"
                :file-list="gallery"
                multiple
                list-type="picture">
            <el-button class="buildmap-btn-secondary without-icon" size="small" type="primary">Incarca galeria
            </el-button>
            <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
        </el-upload>


        <section id="sec_4" class="sistem-section-primary">
            <div class="container">
                <h3>Acesta sunt doar câteva variații standard posibile. Dar specialiștii Profil Doors procesează comenzi
                    personalizate așa încât limită poate fi doar imaginația ta de designer sau anumite mecanisme rare,
                    însă chiar și așa nu ezita să te inspiri din lucrările altor constructori și designeri. </h3>
            </div>
        </section>

        <carousel-sistem v-if="!show" :idsec="sistem.gallerysec"></carousel-sistem>

            <el-upload
                    v-if="show"
                    class="upload-demo"
                    :action="'/api-routes/add-product-gallery/'+form.op_id+'/'+2"
                    :headers="{ 'X-CSRF-TOKEN': token }"
                    :on-preview="handlePreview"
                    :on-success="handleGallerySuccess"
                    :on-remove="delGallery"
                    :file-list="gallerysec"
                    multiple
                    list-type="picture">
                <el-button class="buildmap-btn-secondary without-icon" size="small" type="primary">Incarca galeria
                </el-button>
                <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
            </el-upload>
    </div>
</template>

<script>
    export default {
        name: "CollectionEdit",
        props: ['sistem'],
        data() {
            return {
                show: false,
                errors: [],
                token: '',
                gallery: [],
                gallerysec: [],
                form: {
                    op_id: '',
                    sc1_title: '',
                    sc1_desc: '',
                    sc1_text: '',
                    sc2_title: '',
                    sc2_desc: '',
                    sc2_text: '',
                }
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }

            if (this.sistem.sc1_title != '') {
                this.form.sc1_title = this.sistem.sc1_title;
            }
            if (this.sistem.sc1_desc != '') {
                this.form.sc1_desc = this.sistem.sc1_desc;
            }
            if (this.sistem.sc1_text != '') {
                this.form.sc1_text = this.sistem.sc1_text;
            }
            if (this.sistem.sc2_title != '') {
                this.form.sc2_title = this.sistem.sc2_title;
            }
            if (this.sistem.sc2_desc != '') {
                this.form.sc2_desc = this.sistem.sc2_desc;
            }
            if (this.sistem.sc2_text != '') {
                this.form.sc2_text = this.sistem.sc2_text;
            }
            if (this.sistem.id != '') {
                this.form.op_id = this.sistem.id;
            }

            this.gallery = this.sistem.gallery
            this.gallerysec = this.sistem.gallerysec
        },

        methods: {

            handleGallerySuccess(file, fileList) {
                console.log(file, fileList);
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`The limit is 1, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`Cancel the transfert of ${file.name} ?`);
            },

            handleAvatarSuccess(res, file) {
                this.product_id = res.product_id;
                this.$notify({
                    title: 'Success',
                    message: 'Imagine de baza a fost incarcata cu succes',
                    type: 'success',
                    position: 'bottom-right'
                });
            },

            saveData() {
                this.errors = [];
                axios.post('/api-routes/save-data', this.form).then(response => {
                    if (response.data.status == 'success') {
                        this.errors = [];
                        this.show = false;

                        this.$notify({
                            title: 'Success',
                            message: 'Datele produsului au fost salvate cu succes urmati pasul 2',
                            type: 'success',
                            position: 'bottom-right'
                        });

                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                        this.pas_one = false;
                    }
                });
            },

            delGallery(file, fileList) {
                axios.post('/api-routes/del-img-gall', file).then(response => {
                    if (response.data.status == 'success') {
                        this.errors = [];
                        this.gallery = response.data.gallery;
                        this.$notify({
                            title: 'Success',
                            message: 'Imaginea a fost stearsa cu succes',
                            type: 'success',
                            position: 'bottom-right'
                        });
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;

                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>