<template>
  <div class="content-top-colors">
    <div class="sidenav border-none">
      <div class="sidenav-culori">
        <h3 class="sidenav-section-title border-right">Culoare <br>
          <span :style="'font-size: 12px'"
                v-if="color_selected != null">{{ color_selected.color.name }}</span>
        </h3>
        <div class="sidenav-section-content">
          <div v-if="colors.length > 0">
            <ul class="sidenav-color">
              <li v-for="(color, index) in culori"
                  v-if="color.color"
                  :key="index"

                  :class="{'active' : color_selected.id == color.id}"
                  style="background-position: center center;"
                  :style="color.color.image != null ? 'background: url(https://order.profildoors.ro'+color.color.image+');' : 'background: '+color.color.code+';'"
                  @click="selectColor(color)"
              >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sidenav border-none">
      <div class="sidenav-culori" v-if="ferestre.length > 0">
        <h3 class="sidenav-section-title border-right">Sticlă<br>
          <span :style="'font-size: 12px'"
                v-if="selected_f">{{ selected_f.window.name }}</span>
        </h3>
        <div class="sidenav-section-content">
          <div>
            <ul class="sidenav-color" v-if="ferestre.length > 0">
              <li :class="(selected_f != null && selected_f.id == fer.id)?'active':''"
                  :style="'background-image:url(https://order.profildoors.ro/'+fer.window.image+'); background-position: center;'"
                  v-for="(fer, ind) in ferestre" :key="ind"
                  @click="selectWindow(fer)"
              ></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sidenav border-none">
      <div class="sidenav-culori" v-if="insertii.length > 0">
        <h3 class="sidenav-section-title border-right">Insertii<br>
          <span :style="'font-size: 12px'"
                v-if="selected_f">{{ selected_f.window.name }}</span>
        </h3>
        <div class="sidenav-section-content">
          <div>
            <ul class="sidenav-color" v-if="insertii.length > 0">
              <li :class="(insertie_selected != null && insertie_selected.id == fer.id)?'active':''"
                  :style="'background-image:url(https://order.profildoors.ro/'+inset.molding.image+'); background-position: center;'"
                  v-for="(inset, ind) in insertii" :key="ind"
                  @click="selectInsertii(inset)"
              ></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ColorWindow",
  props: {
    colors: {
      type: Array,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      insertii: [],
      ferestre: [],
      color_selected: null,
      insertie_selected: null,
      selected_f: {
        window: {
          name: ''
        }
      },
      culori: [],
    }
  },

  watch: {
    colors: {
      handler() {
        this.startLoad();
      }
    }
  },

  methods: {
    startLoad() {
      this.culori = this.colors;
      this.color_selected = this.colors[0];
      this.ferestre = this.colors[0].windows;
      this.selectColor(this.color_selected)
    },

    selectColor(color) {
      this.color_selected = color;
      this.ferestre = color.windows;
      this.selected_f = null;

      this.$emit('loading-data', true);
      this.$emit('update-fereastra', this.selected_f == null ? this.setImage(this.color_selected) : this.setImage(this.selected_f))
    },

    selectWindow(windows) {
      this.selected_f = windows;
      this.insertii = windows.moldings;
      this.$emit('loading-data', true);
      this.$emit('update-fereastra', this.selected_f == null ? this.setImage(this.color_selected) : this.setImage(this.selected_f))
    },

    selectInsertii(insertii) {
      this.insertie_selected = insertii;
      this.$emit('loading-data', true);
      this.$emit('update-fereastra', this.insertie_selected == null ? this.setImage(this.selected_f) : this.setImage(this.insertie_selected))
    },

    setImage(model) {
      let image = '';
      let original_url = 'https://order.profildoors.ro/images/catalog-img-original/';
      let comprimed_url = 'https://order.profildoors.ro/images/catalog/';
      if (model.image_original != null) {
        image = original_url + model.image_original;
      } else {
        image = comprimed_url + model.image;
      }

      return image;
    }
  },
}
</script>

<style scoped>

</style>
