#about-hed{
  height: calc(100vh - 128px);
  padding: 0 !important;
  overflow: hidden;
  position: relative;
  img.top_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center left;
  }
  .section-header-content{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 40px;
    p{
      color: #707070 !important;
    }
  }
  @include mobile{
    height: calc(100vh - 60px);
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.6;
      z-index: 1;
    }
    .section-header-content{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      .section-name{
        text-align: center;
        h1, p{
          color: $white !important;
        }
        p{
          opacity: 0.7;
        }
      }
    }
  }
  @include tablet-only{
    height: calc(100vh - 60px);
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.6;
      z-index: 1;
    }
    .section-header-content{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      .section-name{
        text-align: center;
        h1, p{
          color: $white !important;
        }
        p{
          opacity: 0.7;
        }
      }
    }
  }
}

.about-content{
  padding-top: 88px;
  padding-bottom: 88px;
  .container{
    display: grid !important;
    justify-items: center;
    justify-content: center;
    grid-gap: 60px;
    .about-text{
      h3{
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
      }
      h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 45px;
        text-transform: uppercase;
        color: $primary;
      }
      h4{
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        text-transform: uppercase;
        color: $primary;
      }
      ul{
        margin-left: 30px;
        li{
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 30px;
          position: relative;
          &:before{
            content: url("/img/ceck.png");
            position: absolute;
            left: -30px;
            top: 4px;
          }
        }
      }
      p{
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 35px;
      }
    }
    .about-img{
      img{
        filter: drop-shadow(0px 0px 75px rgb(0,0,0,0.10));
      }
    }
    .title-about{
      grid-column: 1/3;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      h2{
        font-size: 30px;
        line-height: 46px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      padding-left: 16px;
      padding-right: 16px;
      .title-about{
        grid-column: 1/2;
      }
      .about-text{
        grid-column: 1/2;
      }
      .about-img{
        grid-column: 1/2;
      }
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      padding-left: 16px;
      padding-right: 16px;
      .title-about{
        grid-column: 1/2;
      }
      .about-text{
        grid-column: 1/2;
      }
      .about-img{
        grid-column: 1/2;
      }
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
  }
}