#are_ready{
  position: relative;

  .section-content{
    display: grid !important;
    grid-gap: 20px;
    justify-items: center;
    justify-content: center;
    max-width: 1131px;
    margin: 0 auto;
    .contact-me-now{
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 33px;
    }
    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
  }
}
