#categories_page{
  display: grid;

  .serie-block-me{
    background: #F9F9F9;
    .serie-arrange{
      display: flex;
      justify-content: center;
      li{
        a{
          display: inline-block;
          padding: 5px 20px;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 25px;
          color: $text;
          transition: 0.5s all;
          &:hover{
            color: $primary;
            background: #f1eeee;
          }
        }
      }
    }
  }
  .section-name{
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .section-content{
    display: grid;
    grid-gap: 12px;
    padding-bottom: 115px;
  }

  @include mobile{
    grid-template-columns: 1fr;
    &.category-with-mini-sidenav{
      grid-template-columns: 1fr 40px;
      .serie-block-me{
        grid-column: 2/3;
        grid-row: 1/3;
        .serie-arrange{
          flex-direction: column;
          align-items: center;
          position: sticky;
          top: 60px;
          li{
            display: block;
            width: 100%;
            text-align: center;
            a{
              font-size: 14px;
              text-align: center;
              display: block;
              width: 100%;
              padding: 5px;
            }
          }
        }
      }
      .section-name{
        grid-column: 1/2;
      }
      .section-content{
        grid-column: 1/2;
      }
    }
    .section-content{
      grid-template-columns: 1fr;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @include tablet-only{
    grid-template-columns: 1fr;
    &.category-with-mini-sidenav{
      grid-template-columns: 1fr 40px;
      .serie-block-me{
        grid-column: 2/3;
        grid-row: 1/3;
        .serie-arrange{
          flex-direction: column;
          align-items: center;
          position: sticky;
          top: 60px;
          li{
            display: block;
            width: 100%;
            text-align: center;
            a{
              font-size: 14px;
              text-align: center;
              display: block;
              width: 100%;
              padding: 5px;
            }
          }
        }
      }
      .section-name{
        grid-column: 1/2;
      }
      .section-content{
        grid-column: 1/2;
      }
    }
    .section-content{
      padding-left: 16px;
      padding-right: 16px;
      grid-template-columns: 1fr;
    }
  }
  @include desktop-only{
    grid-template-columns: 1fr;
    .section-content{
      grid-template-columns: 1fr 1fr;
    }
  }
  @include widescreen-only{
    grid-template-columns: 1fr;
    .section-content{
      grid-template-columns: 1fr 1fr;
    }
  }
  @include fullhd{
    grid-template-columns: 1fr;
    .section-content{
      grid-template-columns: 1fr 1fr;
    }
  }
}

.serie-card{
  height: 241px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
    transition: 0.5s all;
    transition-delay: 0s;
  }
  .serie-card-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.5s all;
    transition-delay: 0.2s;
    .serie-name{
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(18px, 18px);
      min-width: 200px;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: center;
      color: $primary;
      font-size: 16px;
      line-height: 25px;
      font-weight: 600;
      background: #F9F9F9;
      transition: 0.5s all;
      transition-delay: 0.3s;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }
    .serie-excerpt{
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      padding-left: 18px;
      padding-right: 18px;
      transform: translateY(100%);
      transition: 0.5s all;
      transition-delay: 0.5s;
      p{
        font-size: 13px;
        line-height: 20px;
        color: $white;
        padding-top: 25px;
        padding-bottom: 30px;
        opacity: 0;
        transition: 0.5s all;
        transition-delay: 0.7s;
      }
      a{
        font-size: 11px;
        text-transform: uppercase;
        color: $white;
        text-decoration: underline;
        line-height: 17px;
        margin-bottom: 35px;
        font-weight: 600;
        opacity: 0;
        transition-delay: 0.9s;
      }
    }
  }
  &:hover{
    img{
      filter: blur(2px) brightness(0.48);
    }
    .serie-card-content{
      .serie-name{
        left: 50%;
        transform: translate(-50%, 34px);
      }
      .serie-excerpt{
        transform: translateY(0);
        p{
          opacity: 1;
        }
        a{
          opacity: 1;
        }
      }
    }
  }
}