#colection_intern{
  background: #f7f9fa;
  padding-top: 200px;
  //padding-top: 55px;
  padding-bottom: 47px;
  overflow: hidden;
  .slider-colection{
    margin-top: 65px;
    max-width: 1300px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    .swiper-container{
      max-width: 1172px;
    }
  }
  .sw-button-next{
    background-image: url("/img/arrow-right.png");
    width: 80px;
    height: 16px;
    background-size: inherit;
    background-position: center right;
    background-repeat: no-repeat;
    &:focus{
      outline: none;
    }
  }
  .sw-button-prev{
    background-image: url("/img/arrow-left.png");
    width: 80px;
    height: 16px;
    background-size: inherit;
    background-position: center left;
    background-repeat: no-repeat;
    &:focus{
      outline: none;
    }
  }
}
.slider_image{
  img{
    margin: 0 auto;
    display: block;
    height: 387px;
  }
  .slide-price{
    text-align: center;
    margin-top:  18px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 500;
    color: $text;
  }
}
