#contact{
  padding-bottom: 100px;
  padding-top: 81px;
  overflow: hidden;
  .section-content{
    display: grid !important;
    grid-gap: 112px;
    justify-items: center;
    justify-content: center;

    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      margin-left: 20px;
      margin-right: 20px;
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }

  }
}

.form_card{
  background: $white;
  padding: 62px 108px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  border: 1px solid #E2E2E2;
  position: relative;
  &:before{
    content: url("/img/dot_bg.png");
    position: absolute;
    top: -78px;
    left: -91px;
    z-index: -1;
  }
  &:after{
    content: url("/img/dot_bg.png");
    position: absolute;
    bottom: -78px;
    right: -91px;
    z-index: -1;
  }
  .form-title{
    margin-bottom: 11px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: $primary;
  }
  p{
    color: $text;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 50px;
  }

  .button{
    margin: 0 auto;
    display: block;
    margin-top: 40px;
  }
  input, textarea{
    background: #F9F9F9;
    box-shadow: none;
  }
  input{
    height: 47px;
    padding: 14px 20px;
    margin-bottom: 18px;
  }
  .column{
    padding: 0;
  }
  .columns{
    margin-bottom: 18px;
  }
  @include mobile{
    padding: 30px !important;
  }

}

.contact-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .contact-list{
    margin-top: 58px;
    li{
      padding-top: 22px;
      padding-bottom: 22px;
      display: flex;
      align-items: center;
      .contact-icon{
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
      }
      .contact-name{
        display: block;
        font-size: 16px;
        line-height: 25px;
        font-weight: 600;
        color: $text;
      }
      .contact-sub{
        display: block;
        font-size: 16px;
        line-height: 25px;
      }
      a{
        font-size: 16px;
        line-height: 25px;
        font-weight: 600;
        color: $text;
        text-decoration: underline;
      }
    }
  }

  @include mobile{
    .contac-title{
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  @include tablet-only{
    .contac-title{
      font-size: 2.5rem;
      line-height: 2.7rem;
    }
  }
}

#contact_page{
  .section-conten{
    display: grid !important;
    grid-gap: 131px;
    padding-top: 71px;
    padding-bottom: 71px;
    .fs-35{
      font-size: 35px;
    }
    .section-name-map{
     span{
       color: #fff;
       display: inline-block;
       background: #d62f2f;
       border-top-left-radius: 30px;
       border-top-right-radius: 30px;
       font-weight: 800;
       padding: 0 36px;
       margin-right: 8px;
       font-size: 26px;
       width: 100%;
     }
    }
    p{
      color: $text;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 40px;
    }
    .column{
      padding-top: 0px;
    }

    .button{
      margin: 0 auto;
      display: block;
      margin-top: 40px;
    }
    input, textarea{
      background: #F9F9F9;
      box-shadow: none;
    }
    input{
      height: 47px;
      padding: 14px 20px;
      margin-bottom: 0px;
    }

    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      margin-left: 20px;
      margin-right: 20px;
      .column{
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
  }
}
