#first_content{
  top: -60px;
  z-index: 2;
  display: grid !important;
  grid-gap: 10px;
  justify-content: center;
  margin-bottom: -226px;
  .col{
    //align-self: center;
    //justify-self: center;
  }

  @include mobile{
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 75px;
  }
  @include tablet-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 75px;
  }
  @include desktop-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  @include widescreen-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include fullhd{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-first{
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  box-shadow: 0px 12px 70px rgb(0, 0, 0, 0.05);
  .card-image{
    .image{
      height: 160px;
      overflow: hidden;
      img{
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .card-content{
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    .card-title{
      margin-bottom: 25px;
      font-size: 1.833rem;
    }
    a{
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      transition: 0.5s all;
      text-transform: uppercase;
      &:hover{
        color: $primary;
      }
    }
  }
  @include mobile{
    margin-right: 30px;
    margin-left: 30px;
    .card-content{
      .card-title{
        font-size: 1.4rem;
      }
    }
  }
  @include tablet-only{
    margin-right: 30px;
    margin-left: 30px;
    .card-content{
      .card-title{
        font-size: 1.4rem;
      }
    }
  }
  @include desktop-only{
    margin: 0;
    .card-content{
      .card-title{
        font-size: 1.5rem;
      }
    }
  }
  @include widescreen-only{
    margin: 0;
  }
  @include fullhd{
    margin: 0;
  }
}
