.intro-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //background-color: #e3000f;
  background-color: #ffffff;

  .container-fluid {
    width: 100%;

    .row {
      display: flex;
      justify-content: space-around;


      .logo {
        img {
          //filter: drop-shadow(2px 4px 6px black);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container-fluid {
      padding: 20px;

      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 70vh;

        .col-lg-4 {
          width: 270px;
          margin: 0 auto;

          .logo {
            width: 200px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        .col-lg-6 {
          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .location {
              a {
                font-size: 60px;
              }
            }
          }
        }
      }
    }
  }

  .location {
    list-style: none;
    padding-left: 0;
    &:first-child {
      margin-bottom: 40px;
    }

    a {
      box-shadow: inset 0 3px 7px rgb(0 0 0 / 16%);
      transition: 0.5s all;
      border: 3px solid #D62F2F;
      font-weight: 700;
      color: #D62F2F;
      text-decoration: none;
      -webkit-transition: color .2s ease-in-out;
      position: relative;

      &:hover {
        box-shadow: inset 0px 0px 0px 60px #d62f2f;
        color: white;
      }
    }

    a.active {
      filter: drop-shadow(2px 4px 6px black);
    }
  }

  @media (min-width: 992px) {
    .location {
      margin-bottom: 88px;

      a {
        font-size: 80px;
        line-height: 90px;
        transition: 0.5s all;

        &:hover {
          box-shadow: inset 0px 0px 0px 60px #d62f2f;
          color: white;
        }

        &:before {
          -webkit-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}
