//@include mobile{
//  background: $black-ter;
//}
//@include tablet-only{
//  background: $grey;
//}
//@include desktop-only{
//  background: $red;
//}
//@include widescreen-only{
//  background: $green;
//}
//@include fullhd{
//  background: $orange;
//}
