.offer_show{
  padding-top: 65px;
  padding-bottom: 65px;
  .section-top{
    text-align: center;
    h1{
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .top-detail{
      span{
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 20px;
        img{
          margin-right: 10px;
        }
      }
    }
  }
  .section-content{
    margin-top: 36px;
    display: grid;
    grid-gap: 54px;
    img{
      margin: 0 auto;
      display: block;
    }
    h3{
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
    }
    p{
      font-size: 14px;
      line-height: 25px;
      margin-top: 18px;
      margin-bottom: 18px;
    }
    ul{
      li{
        display: flex;
        align-items: center;
      }
      &.colection-detail{
        li{
          margin: 25px 0;
          &:first-child{
            margin-top: 0;
          }
          &:last-child{
            margin-bottom: 0;
          }
          img{
            margin-right: 60px;
          }
        }
      }
      &.merit{
        li{
          margin: 20px 0;
          align-items: flex-start;
          &:first-child{
            margin-top: 0;
          }
          &:last-child{
            margin-bottom: 0;
          }
          img{
            margin-right: 30px;
            margin-top: 22px;
          }
        }
      }
    }
    @include mobile{
      grid-template-columns: 1fr;
      padding-left: 15px;
      padding-right: 15px;
      grid-gap: 30px;
      &.is-sidebar{
        sidebar{
          grid-row: 1/2;
        }
      }
    }
    @include tablet-only{
      grid-template-columns: 1fr;
      padding-left: 15px;
      padding-right: 15px;
      grid-gap: 30px;
      &.is-sidebar{
        sidebar{
          grid-row: 1/2;
        }
      }
    }
    @include desktop-only{
      &.is-ful-with{
        grid-template-columns: 1fr;
      }
      &.is-sidebar{
        grid-template-columns: 2fr 1fr;
      }
    }
    @include widescreen-only{
      &.is-ful-with{
        grid-template-columns: 1fr;
      }
      &.is-sidebar{
        grid-template-columns: 3fr 1fr;
      }
    }
    @include fullhd{
      &.is-ful-with{
        grid-template-columns: 1fr;
      }
      &.is-sidebar{
        grid-template-columns: 3fr 1fr;
      }
    }
  }
  .card-offert-form{
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    box-shadow: 0px 0px 60px rgb(0,0,0, 0.04);
    padding: 50px 21px;
    .form-title{
      margin-top: 0;
      margin-bottom: 32px;
      text-transform: uppercase;
      color: $primary;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
    }
    input{
      border: 1px solid #E2E2E2;
      border-radius: 4px;
      background: #F9F9F9;
      padding: 14px 20px;
      margin-bottom: 9px;
      box-shadow:none;
      isplay: block;
      height: auto;
    }
    .button{
      display: block;
      margin: 0 auto;
      margin-top: 33px;
    }
  }
}