.open_sistem{
  padding-top: 100px;
  .section-content{
    display: grid !important;
    grid-gap: 20px;
    padding-top: 100px;
    justify-items: center;
    justify-content: center;
    background: url(/img/dot_bg.png) no-repeat 94px 27px, url(/img/dot_bg.png) no-repeat 92% 92%;
    padding-bottom: 150px;
    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: repeat(1, minmax(250px, 300px));
      grid-gap: 30px;
      .col{
        .sistem-card2{
          height: 300px;
          .sistem-img{
            flex-direction: column;
            a{
              max-width: 100%;
              width: 100%;
              height: 248px;
              border-bottom-left-radius: 0;
              border-top-right-radius: 4px;
              border-right: none;
              border-bottom: 1px solid white;
            }
            .card-title{
              max-width: 100%;
              width: 100%;
              height: 52px;
              writing-mode: unset;
              border-top-right-radius: 0;
              border-bottom-left-radius: 4px;
            }
          }
          .card-content{
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            max-width: 100%;
            width: 100%;
            height: 248px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
            border-top: none;
            border-left: 1px solid #E2E2E2;
          }
          &:hover{
            .sistem-img{
              .card-title{
                transform: translateX(0);
                transform: translateY(-100%);
              }
            }
            .card-content{
              transform: translateX(0);
              transform: translateY(100%);
            }
          }
        }
      }
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: repeat(2, minmax(250px, 300px));
      .col:nth-of-type(2n){
        .sistem-card2{
          .sistem-img{
            a{
              order: 2;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-left: 1px solid white;
              border-right: none;
            }
            .card-title{
              order: 1;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }
          }
          .card-content{
            top: 0;
            right: 0;
            left: auto;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-right: none;
            border-left: 1px solid #E2E2E2;
          }
          &:hover{
            z-index: 28;
            .sistem-img{
              .card-title{
                transform: translateX(100%);
                filter: blur(1);
              }
            }
            .card-content{
              transform: translateX(-100%);
            }
          }
        }
      }
    }

    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: repeat(3, minmax(250px, 300px));
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: repeat(3, minmax(250px, 300px));
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: repeat(3, minmax(250px, 300px));
    }

  }

  @include mobile{
    padding: 30px 20px;
    .section-content{
      padding-bottom: 50px;
      padding-top: 50px;
      background: url(/img/dot_bg.png) no-repeat 15px 8px, url(/img/dot_bg.png) no-repeat 97% 100%;
    }
  }
}

.sistem-card{
  border-radius: 4px;
  border: 1px solid #E2E2E2;
  transition: 0.5s all;
  position: relative;
  background: $white;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.05);
  &:hover{
    box-shadow: none;
    .card-title{
      color: $primary;
    }
    .card-content{
      a{
        opacity: 1;
        display: block;
      }
    }
  }
  .sistem-img{
    width: 100%;
    height: 297px;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-content{
    text-align: center;
    padding: 40px 20px;
    max-height: 173px;
    height: 173px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-title{
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      margin-bottom: 21px;
      text-transform: uppercase;
      transition: 0.5s all;
    }
    a{
      display: inline-block;
      border: 3px solid $primary;
      border-radius: 2px;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 8px 27px;
      text-align: center;
      box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.16);
      transition: 0.5s all;
      &:hover{
        box-shadow: inset 0px 0px 0px 20px $primary;
        color: $white;
      }
    }
  }
}

.sistem-card2{
  position: relative;
  height: 248px;
  box-shadow: 0 0 36px rgb(0, 0, 0, 0.05);
  .sistem-img{
    display: flex;
    justify-content: space-between;
    height: 100%;
    a{
      display: block;
      max-width: 248px;
      z-index: 5;
      overflow: hidden;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: 1px solid $white;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-title{
      max-width: 52px;
      display: block;
      background: $primary;
      color: $white;
      writing-mode: vertical-rl;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 52px;
      z-index: 3;
      height: 100%;
      transition: 0.1s all;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .card-content{
    position: absolute;
    max-width: 248px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background: $white;
    transition: 0.5s all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 36px rgb(0, 0, 0, 0.05);
    border-top: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    .card-title{
      font-weight: 600;
      font-size: 16px;
      color: $primary;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    p{
      font-size: 12px;
    }
    a{
      display: inline-block;
      border: 3px solid $primary;
      border-radius: 2px;
      font-size: 12px;
      line-height: 21px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 8px;
      text-align: center;
      box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.16);
      transition: 0.5s all;
      &:hover{
        box-shadow: inset 0px 0px 0px 20px $primary;
        color: $white;
      }
    }
  }
  &:hover{
    z-index: 20;
    .sistem-img{
      .card-title{
        transform: translateX(-100%);
        filter: blur(1);
      }
    }
    .card-content{
      transform: translateX(100%);
    }
  }
}
.mt-20 {
  margin-top: 20px;
}