#parchet_page {
  .section-content {
    display: grid;
    grid-gap: 35px;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-items: center;
    justify-content: center;

    .col {
      padding-top: 26px;
      padding-left: 26px;
      position: relative;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include tablet-only {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include widescreen {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @include fullhd {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.section-offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". .";
  margin-top: 40px;
  margin-bottom: 150px;

  .img-offer {
    img {
      filter: drop-shadow(0px 0px 75px rgba(0, 0, 0, 0.04));
      border: 1px solid #E2E2E2;
      border-radius: 4px;
    }
  }

  .text-content {
    display: flex;
    align-items: center;

    div {

      h3 {
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 33px;
        text-transform: uppercase;
        line-height: 46px;

        span {
          color: $primary;
        }
      }

      .char {
        li {
          margin-bottom: 10px;
          display: flex;

          span {
            border: 1px solid $primary;
            border-radius: 50%;
            padding: 9px;
            line-height: 17.5px;
            background-color: $primary;
            color: white;
            font-size: 18px;
            font-weight: 700;
            width: 35px;
            height: 35px;
            display: inline-block;
            text-align: center;
            margin-right: 11px;
          }

          p {
            padding-top: 5px;
          }
        }
      }

      p {

      }

      .desc-with-red-effect {
        margin-bottom: 30px;

        span {
          color: $primary;
        }
      }
    }

  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: 0 8px;
    grid-template-areas: ".";
    margin-top: 0px;
    margin-bottom: 40px;

    .text-content {
      div {
        padding: 0 16px;
        margin: 0 auto;

        h3 {
          text-align: center;
        }
      }
    }

    .img-offer {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      text-align: center !important;
    }
    .char {
      li {
        span {
          padding: 11px !important;
          line-height: 13.5px !important;
        }
      }

      p {
        display: flex;
      }
    }
    .btn-offer {
      text-align: center;
    }
  }

  @include tablet-only {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
    padding: 0 8px;

    .img-offer {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      text-align: center !important;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .text-content {
      div {
        margin: 0 auto;
      }
    }

    .char {
      p {
        display: flex;
      }
    }
  }
}

.parket-card {
  max-width: 200px;
  height: 400px;
  border: 1px solid #E2E2E2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .parket-img {
    display: block;
    width: 100%;
    height: 364px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .parket-tile {
    width: 100%;
    height: 36px;
    border-top: 1px solid #E2E2E2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: $text;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    padding: 8px 20px;
  }

  .parket-price {
    width: 80px;
    height: 80px;
    background: $primary;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
