#parket_page{
  padding-top: 71px;
  padding-bottom: 71px;
  border-bottom: 1px solid #E2E2E2;
  background: #F9F9F9;
  .parket-section-description{
    .title{
      font-size: 30px;
      font-weight: 600;
      line-height: 46px;
      color: $primary;
      margin-bottom: 12px;
    }
    .price-buy{
      margin-bottom: 27px;
      span{
        font-size: 20px;
        line-height: 30px;
        margin-right: 20px;
        strong{
          color: $primary;
          font-weight: 600;
        }
      }
    }
    p{
      font-size: 14px;
      line-height: 25px;
      color: #707070;
      margin-bottom: 25px;
    }
  }
  .section-content{
    display: grid;
    grid-gap: 70px;
    @include mobile{
      grid-template-columns: 1fr;
      padding-left: 16px;
      padding-right: 16px;
      .parket-section-description{
        grid-row: 3/4;
        text-align: center;
      }
      .parket-section-img{
        grid-row: 1/2;
      }
      .parket-section-aditional{
        grid-row: 2/3;
      }
    }
    @include tablet-only{
      grid-template-columns: 1fr 1fr;
      padding-left: 16px;
      padding-right: 16px;
      .parket-section-description{
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: center;
      }
      .parket-section-img{
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .parket-section-aditional{
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
    @include desktop-only{
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include fullhd{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}