#premium_dor{
  padding: 70px 0 0;
  position: relative;

  .section-content{
    display: grid !important;
    grid-gap: 2vw;
    padding-top: 70px;
    padding-bottom: 100px;
    justify-items: center;
    justify-content: center;
    &:after{
      content: url("/img/dot_bg.png");
      position: absolute;
      left: -50px;
      top: 32%;
      z-index: 1;
    }

    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      padding-bottom: 60px;
      .col{
        padding: 0 20px;
      }
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @include mobile{
    overflow: hidden;
    padding-bottom: 0;
  }
}

.card-icon-bg{
  position: relative;
  min-height: 352px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  transition: 0.5s all;
  z-index: 10;
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #2b2b2b;
    opacity: 0.85;
    z-index: 2;
  }
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: $primary;
    z-index: 3;
    transition: 0.5s all;
  }
  .bg-card{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgb(255, 255, 255, 1);
    transition: 0.5s all;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .icon-card{
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
      }
    }
    .card-title{
      font-size: 1.68rem;
      font-weight: 600;
      margin-bottom: 16px;
    }
    p{
      font-size: 0.93rem;
      color: #7a7c7f;
      margin-bottom: 27px;
    }
    .action-card{
      span{
        display: inline-block;
        margin-right: 10px;
        font-weight: 600;
        font-size: 1rem;
      }
      img{
        width: 0;
        opacity: 0;
        transition: 0.5s all;
      }
      &:hover{
        img{
          width: 20px;
          opacity: 1;
        }
        color: $white;
      }
    }

  }
  &:hover{
    box-shadow: 0px 10px 17px 4px rgba(0, 0, 0, 0.19);
    transform: translateY(-9px);
    &:before{
      width: 100%;
    }
    .card-content{
      background: rgb(255, 255, 255, 0);
      .card-title{
        color: $white
      }
      p{
        color: $white;
      }
      .action-card{
        color: $white;
      }

    }
    .icon-card{
      img{
        filter: grayscale(1) saturate(1) invert(1) contrast(3);
      }
    }
  }
  @include mobile{
    .card-content{
      .card-title{
        font-size: 1.3rem;
      }
    }
  }
}
