.section-name{
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  .section-title{
    font-size: 1.333rem;
    color: $primary;
    font-weight: 600;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .section-sub-title{
    font-size: 28px;
    font-weight: 800;
    line-height: 46px;
    color: $text;
    text-transform: uppercase;
    margin-bottom: 24px;

    span{
      color: $white;
      display: inline-block;
      background: $primary;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
      font-weight: 800;
      padding: 0 36px;
      margin-right: 8px;
      font-size: 26px;
    }
  }
  p{
    font-size: 18px;
    line-height: 27px;
  }
  &.page-title{
    padding-top: 45px;
    padding-bottom: 45px;
    background: #F9F9F9;
    max-width: 100%;
    .section-sub-title{
      margin-bottom: 0;
    }
  }
  &.section-name-50{
    text-align: left;
    max-width: 100%;
  }
  @include mobile{
    padding-left: 30px;
    padding-right: 30px;
    .section-sub-title{
      font-size: 20px;
      line-height: 24px;
      span{
        display: block;
        max-width: 300px;
        margin: 8px auto;
        padding: 8px 21px;
      }
    }
    p{
      font-size: 1.2rem;
      line-height: 1.9rem;
    }
  }
  @include tablet-only{
    padding-left: 30px;
    padding-right: 30px;
    .section-sub-title{
      font-size: 30px;
      line-height: 46px;
    }
    p{
      font-size: 1.2rem;
      line-height: 1.9rem;
    }
  }
}

.btn-line{
  display: inline-block;
  border: 3px solid $primary;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 27px;
  text-align: center;
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.16);
  transition: 0.5s all;
  &:hover{
    box-shadow: inset 0px 0px 0px 20px $primary;
    color: $white;
  }
}
.d-flex-vertical-align-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h-100{
  height: 100%;
}
.mb-48{
  margin-bottom: 48px;
}
.text-right{
  text-align: right;
}
.pr-9{
  padding-right: 9px !important;
  @include mobile{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
.pl-9{
  padding-left: 9px !important;
  @include mobile{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.mb-17{
  margin-bottom: 17px;
}
.border-none{
  border: none !important;
}
.border-right{
  border-right: 1px solid #E2E2E2;
}
.pb0{
  padding-bottom: 0px !important;
}