.series{
  display: grid !important;
  grid-gap: 2vw;
  justify-content: center;
  padding-top: 60px;
  @include mobile{
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
  @include tablet-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
  @include desktop-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr 1fr;
  }
  @include widescreen-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr 1fr;
  }
  @include fullhd{
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.sidenav{
  background: #F9F9F9;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  position: relative;
  .sidenav-section-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: $text;
    line-height: 27px;
    padding: 11px 23px;
    margin-bottom: 16px;
    margin-top: 10px;
    border-left: 4px solid $primary;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
  }
  .sidenav-section-content{
    margin: 17px 18px;
  }
  .sidenav-series{
    display: flex;
    flex-wrap: wrap;
    margin: 17px 18px;
    li{
      width: 40px;
      height: 40px;
      border: 2px solid rgba(0, 0, 0, 0.06);
      margin: 2px;
      position: relative;
      z-index: 1;
      transition: 0.5s all;
      a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          color: rgb(171, 171, 171);
          font-size: 14px;
        }
      }
      &:hover{
        border: 2px solid rgb(117, 116, 116);
        a{
          span{
            color: rgb(117, 116, 116);
          }
        }
      }
      &.active{
        border-color: #000000;
        a{
          span{
            color: #000000;
          }
        }
      }
    }
  }
  .sidenav-color{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 40px;
      height: 40px;
      border: 2px solid #E2E2E2;
      margin: 2px;
      position: relative;
      overflow: hidden;
      transition: .5s all;
      cursor: pointer;
      &:hover{
        border: 2px solid $primary;
      }
      &.active{
        border: 2px solid $primary;
      }
    }
  }
  .sidenav-reset{
    padding-top: 37px;
    padding-bottom: 30px;
    .button{
      margin: 0 auto;
      display: block;
    }
  }
  .sidenav-pret{
    label{
      font-size: 14px;
    }
  }
  .el-checkbox-group{
    display: flex;
    flex-direction: column;
  }
}
.serie-description{
  background: #F9F9F9;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  ul, p{
    padding: 13px;
    font-size: 14px;
  }
  table{
    tr{
      display: flex;
      flex-wrap: wrap;
      td{
        padding: 2px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}