#serie_page{
  display: grid;
  .serie-block-me{
    background: #F9F9F9;
    .serie-arrange{
      display: flex;
      justify-content: center;
      li{
        a{
          display: inline-block;
          padding: 5px 20px;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 25px;
          color: $text;
          transition: 0.5s all;
          &:hover{
            color: $primary;
            background: #f1eeee;
          }
        }
      }
    }
  }
  .section-content-top{
    background: #F9F9F9;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #E2E2E2;
    .container{
      display: grid;
      .content-top-description{
        grid-area: description;
        .name-model-product{
          font-size: 30px;
          font-weight: 600;
          line-height: 46px;
          color: $primary;
          margin-bottom: 12px;
        }
        .price-buy{
          margin-bottom: 27px;
          span{
            font-size: 20px;
            line-height: 30px;
            margin-right: 50px;
            strong{
              color: $primary;
              font-weight: 600;
            }
          }
        }
        .description{
          height: 199px;
          overflow: hidden;
          margin-bottom: 35px;
          p{
            font-size: 14px;
            line-height: 25px;
            color: #707070;
            margin-bottom: 25px;
          }
        }
      }
      .content-top-image{
        grid-area: image;
      }
      .content-top-series{
        grid-area: series;
      }
      .content-top-colors{
        grid-area: colors;
        display: grid;
        grid-gap: 20px;
      }
    }
  }

  .p-2 {
    padding: 6px;
  }

  .section-content-bottom{
    border-bottom: 1px solid #E2E2E2;
    padding-top: 40px;
    .tabs{
      ul{
        justify-content: center;
        border: none;
        li{
          a{
            min-width: 310px;
            padding-top: 14px;
            padding-bottom: 14px;
            background: #F9F9F9;
            border-top: 1px solid #E2E2E2;
            border-bottom: 1px solid #E2E2E2;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 21px;
            font-weight: 600;
            &.is_active{
              background: $primary;
              color: $white;
            }
          }
        }
        li:first-child{
          a{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: 1px solid #E2E2E2;
          }
        }
        li:last-child{
          a{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right: 1px solid #E2E2E2;
          }
        }
      }
    }
  }

  @include mobile{
    grid-template-columns: 1fr 40px;
    .serie-block-me{
      grid-column: 2/3;
      grid-row: 1/2;
      border-bottom: 1px solid #E2E2E2;
      .serie-arrange{
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 60px;
        li{
          display: block;
          width: 100%;
          text-align: center;
          a{
            font-size: 14px;
            text-align: center;
            display: block;
            width: 100%;
            padding: 5px;
          }
        }
      }
    }
    .section-content-top{
      grid-column: 1/2;
      border-right: 1px solid #E2E2E2;
      border-top: none;
      .container{
        padding-left: 16px;
        padding-right: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "image image image image image"
                              "colors colors colors colors colors"
                              "description description description description description"
                              "series series series series series";
        .content-top-colors{
          grid-template-columns: 1fr;
        }
        .price-buy{
          span{
            font-size: 26px!important;
          }
        }
      }
    }
    .section-content-bottom{
      grid-column: 1/3;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @include tablet-only{
    grid-template-columns: 1fr 40px;
    .serie-block-me{
      grid-column: 2/3;
      grid-row: 1/2;
      border-bottom: 1px solid #E2E2E2;
      .serie-arrange{
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 60px;
        li{
          display: block;
          width: 100%;
          text-align: center;
          a{
            font-size: 14px;
            text-align: center;
            display: block;
            width: 100%;
            padding: 5px;
          }
        }
      }
    }
    .section-content-top{
      grid-column: 1/2;
      border-right: 1px solid #E2E2E2;
      border-top: none;
      .container{
        padding-left: 16px;
        padding-right: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "image image description description description"
                              "colors colors . series series";
        .content-top-colors{
          grid-template-columns: 1fr 1fr;
        }
      }
    }
    .section-content-bottom{
      grid-column: 1/3;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @include desktop-only{
    grid-template-columns: 1fr;
    .section-content-top{
      .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "description description image image series"
        "colors colors image image series";
        .content-top-colors{
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  @include widescreen-only{
    grid-template-columns: 1fr;
    .section-content-top{
      .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "description description image image series"
        "colors colors image image series";
        .content-top-colors{
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  @include fullhd{
    grid-template-columns: 1fr;
    .section-content-top{
      .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "description description image image series"
                              "colors colors image image series";
        .content-top-colors{
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}