#nav_sistem{
  height: 82px;
  background: #F9F9F9;
  border-bottom: 1px solid #E2E2E2;
  border-top:1px solid #E2E2E2;
  position: sticky;
  top: 0;
  z-index: 50;
  ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      padding: 20px;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      transition: 0.5s all;
      color: $text;
      font-weight: 500;
      &:hover{
        color: $primary
      }
      &.current{
        color: $primary;
      }
    }
  }
  @include mobile{
    height: 60px;
    ul{
      flex-wrap: wrap;
      a{
        padding: 5px 10px;
        font-size: 12px;

      }
    }
  }
  @include tablet-only{
    height: 60px;
    ul{
      flex-wrap: wrap;
      a{
        padding: 5px 10px;
        font-size: 12px;

      }
    }
  }
}
.section-50{
  padding-top: 96px;
  padding-bottom: 96px;
  .section-content{
    display: grid !important;
    grid-gap: 50px;
    justify-items: center;
    justify-content: center;
    max-width: 1131px;
    margin: 0 auto;
    .sis-sec-img{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p,li{
      font-size: 16px;
      line-height: 30px;
    }
    ul{
      margin-bottom: 28px;
      margin-left: 40px;
      li{
        list-style-image: url(/img/ceck.png);
        margin-bottom: 10px;
      }
    }
    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
  }
}
.is-dark-section{
  background: rgb(0,0,0, 0.6);
}
.sistem-slider{
  .container{
    max-width: 1300px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .carousel-3d-slide.left-1 {
    opacity: 0.6!important;
  }

  .carousel-3d-slide.right-1 {
    opacity: 0.6!important;
  }

}

.carousel-3d-controls{
  .prev{
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  .next{
    line-height: 16px;
    display: flex;
    align-items: center;
  }
}
.carousel-3d-slide{
  border: none;
  background: none;
  overflow: inherit;
  border-radius: 4px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px rgb(0,0,0,0.16));
  }
}
.sistem-slide-image{
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 0;
  position: absolute !important;
  bottom: 0;
  padding: 15px;
  font-size: 12px;
  min-width: 100%;
  box-sizing: border-box;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sistem-section-primary{
  background: $primary;
  padding-top: 95px;
  padding-bottom: 95px;
  .container{
    padding-left: 60px;
    padding-right: 60px;
    h3{
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
  }
}