.mb4 {
    margin-bottom: 40px
}

.mb5 {
    margin-bottom: 50px
}

.mt2 {
    margin-top: 20px
}

.title.is-3 {
    position: relative;
    text-align: left;
    margin-bottom: 40px
}

.title.is-3::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #D1CAC1
}

.title.is-3::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 300px;
    background: #D62F2F
}

#offers-timer, #offers-produse, #benefits {
    text-align: center
}

.benefit-item {
    background: #E6E6E6;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: 14px
}

.benefit-item:hover {
    background: #D9D9D9
}

.benefit-item img {
    margin-bottom: 40px;
    height: 64px
}

.benefit-item p {
    color: #000;
    text-transform: uppercase;
    font-size: 21px
}

.timer {
    padding: 30px
}

.btn-yellow {
    border: 0;
    background-color: #FFE827;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase
}

.catalog-item {
    position: relative;
    cursor: pointer
}

.catalog-item.fist-item img {
    height: 100%;
    object-fit: cover
}

.catalog-item.fist-item .swiper-slide img {
    height: auto;
    object-fit: none
}

.catalog-item .catalog-img {
    position: relative;
    opacity: .95;
    -webkit-transition: opacity 0.35s, -webkit-transform .35s;
    transition: opacity 0.35s, transform .35s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.catalog-item .catalog-img:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0)
}

.catalog-item:hover .catalog-img {
    opacity: .6;
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95)
}

.catalog-item:hover .catalog-img:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0)
}

.swiper-slide .catalog-img {
    position: relative;
    opacity: .95;
    -webkit-transition: opacity 0.35s, -webkit-transform .35s;
    transition: opacity 0.35s, transform .35s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.swiper-slide .catalog-img:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0)
}

.swiper-slide:hover .catalog-img {
    opacity: .6;
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95)
}

.swiper-slide:hover .catalog-img:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0)
}

.bigd .catalog-img {
    position: relative;
    opacity: .95;
    width: 100%;
    overflow: hidden;
    display: block
}

.bigd .catalog-img img {
    margin: 0 auto;
    display: block;
    height: 387px
}

.bigd .slide-title, .bigd .door-price, .bigd .slide-link {
    text-align: center;
}

.bigd .door-price strong{
    color: #D62F2F;
}

.bigd .slide-link{
    color: #D62F2F;
    text-decoration: underline;
}

.bigd .slide-title {
    margin-top: 10px
}

.swiper-container.s4 {
    height: auto
}

.catalog-item img {
    width: 100%
}

.catalog-item span {
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    background-color: rgba(137, 109, 72, .8);
    width: 150px;
    padding: 10px;
    position: absolute;
    top: 25px;
    right: 25px;
    transition: transform .6s
}

.blog-item {
    position: relative;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.05)
}

.blog-item a {
    margin-bottom: 1.5em
}

#articles img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    display: flex;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

#articles .title.is-2 {
    text-align: center
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 700;
    color: #000
}

.timer .number {
    font-size: 80px;
    font-weight: 700;
    color: #000;
    width: 100px;
    height: 125px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background: linear-gradient(#fff, #E4E4E4, #fff);
    min-width: 50px;
    margin-right: 25px
}

.timer span {
    font-size: 80px;
    font-weight: 700;
    color: #000;
    margin-right: 25px
}

.product_img {
    text-align: center;
    border: 1px solid transparent
}

.product_img img {
    height: 450px
}

.color {
    margin-top: 15px
}

.text_color {
    color: #d4b19f
}

.color_blocks {
    margin-top: 15px
}

.color_block {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-right: 5px
}

.color_block.is_active {
    border: 3px solid #c7c7c7
}

.color_block:hover {
    border: 3px solid #c7c7c7
}

.tabs ul {
    border-bottom: none
}

.tabs a {
    padding: 20px 60px;
    background-color: #f5f5f5
}

.tabs.is-boxed a {
    border: 1px solid #c7c7c7;
    margin-bottom: 0;
    border-radius: 2px
}

.tabs.is-boxed a.is_active {
    background-color: #fff;
    border: 0;
    border-top: 5px solid #D62F2F
}

.tab_img {
    border: 1px solid #ddd;
    max-height: 140px;
    width: 150px
}

.tab_panel {
    display: none
}

.tab_panel.is_active {
    display: block
}

.tab_panel ul li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 24px
}

#article .top_img {
    width: 100%;
    height: 500px;
    object-fit: cover
}

#contact iframe {
    border: 0;
    height: 500px
}

.contact_form {
    padding: 0 20px
}

#fixed-butons {
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    width: 100%;
    display: none
}

#fixed-butons .button {
    width: 50%
}

.phone-mob {
    display: none !important
}

#premium_dor .section-conten {
    height: 90vh
}

.card-icon-bg {
    min-height: 300px;
    height: 320px
}

.card-icon-bg .card-content {
    height: 320px;
    padding: 0 20px
}

.card-icon-bg .card-content .action-card {
    padding: 14px 0
}

.card-icon-bg .card-content p {
    margin-bottom: 12px
}

@media (max-width: 1088px) {
    .navbar-menu {
        box-shadow: none
    }

    .navbar-menu a.navbar-item {
        padding: 10px !important
    }
}

@media (max-width: 800px) {
    .timer, .timer span, .timer .number {
        font-size: 32px;
        font-weight: 700;
        margin-right: 10px
    }

    .timer .number {
        height: 85px
    }
}

@media (max-width: 768px) {
    .phone-mob {
        display: flex !important
    }

    #footer {
        padding-bottom: 30px
    }

    #footer .copiright .section-content {
        grid-gap: 16px !important
    }

    #footer .copiright .col {
        text-align: center !important
    }

    #fixed-butons {
        display: block
    }

    .timer .number {
        min-width: 30px;
        font-size: 20px
    }

    #article .top_img {
        height: 250px
    }

    #contact iframe {
        height: auto
    }

    .swiper-container.s1 {
        position: relative;
        width: 100%;
        height: 177px !important
    }

    .catalog-item img {
        height: 200px !important
    }

    .me {
        margin-bottom: 20px
    }
}

.me {
    margin-bottom: 10px
}

div#complect table {
    width: 100% !important;
    overflow: hidden
}





.me-modal {
    text-align: -webkit-center
}

.me-modal span {
    font-size: 28px
}

.me-modal input {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #3d4147;
    border: none !important;
    padding: 14px 17px;
    border-radius: 30px;
    width: 100%;
    color: #fff
}

.me-modal textarea {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #3d4147;
    border: none !important;
    padding: 14px 17px;
    border-radius: 30px;
    width: 100%;
    color: #fff
}

.me-modal input::placeholder {
    color: #fff
}

.me-modal textarea::placeholder {
    color: #fff
}

.me-select select {
    display: block !important;
    margin-bottom: 8px;
    background: #3d4147 !important;
    border: none !important;
    border-radius: 30px !important;
    width: 100%;
    color: #fff !important
}

.me-button-mult {
    margin-left: 16px
}

.parchet-me {
    margin-bottom: 40px !important
}

.mobfilter {
    display: block
}

.openfilters-mobile {
    display: none
}

.desktop-img {
    display: block
}

.mobile-img {
    display: none
}

@media (max-width: 600px) {
    .dropdown-mobile-me {
        width: 100%
    }

    .mobfilter {
        display: none
    }

    .modal-window.small {
        width: 100% !important
    }

    .me-select select {
        width: 329px !important;
        height: 45px !important
    }

    .me-button-mult {
        top: 14px !important;
        width: 303px !important;
        margin: 0 auto !important
    }

    .mobile-sidenav-me {
        padding: 21px;
        margin-bottom: 50px
    }

    .openfilters-mobile {
        font-size: 24px;
        cursor: pointer;
        position: fixed;
        left: -47px;
        top: 80%;
        transform: rotate(-90deg);
        z-index: 999999;
        background-color: #d62f2f;
        border-radius: 0 0 14px 14px;
        padding: 0 15px;
        color: #fff;
        display: block
    }

    .el-tooltip__popper.is-dark {
        display: none
    }

    .desktop-img {
        display: none
    }

    .mobile-img {
        display: block
    }
}

.sidenav1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 60px;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: .5s;
}

.sidenav12 {
    height: 100%;
    width: 36px;
    position: fixed;
    z-index: 99999;
    top: 60px;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 36px
}

.sidenav1 a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .3s
}

.sidenav1 a:hover {
    color: #f1f1f1
}

.sidenav1 .closebtn {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 24px;
    color: #fff;
    background: #000;
    height: 35px;
    text-align: center;
    width: 35px;
    border-radius: 14px 14px 14px 14px
}

@media screen and (max-height: 450px) {
    .sidenav1 {
        padding-top: 15px
    }

    .sidenav1 a {
        font-size: 18px
    }
}

#simpleModal_3 {
    z-index: 1.0 E+31
}

.slider_image img {
    width: 170px !important;
    height: 390px !important
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
    opacity: 0
}

.my-card-buyer {
    max-height: 209px !important;
    height: 209px !important
}

.me-img-sistem {
    height: 200px !important
}

.h-240 {
    height: 240px
}

.navbar .el-dropdown {
    padding-bottom: 0;
    padding-top: 0;
    display: flex
}

.navbar .el-button {
    border: none
}

.navbar .el-button:hover {
    background-color: transparent !important
}

.navbar .el-button span {
    font-weight: 600;
    color: #000;
    font-size: 16px
}

.el-menu-vertical-demo {
    display: none
}

.el-menu-vertical-demo .el-submenu__title span {
    font-weight: 700;
    font-size: 16px
}

@media screen and (max-width: 450px) {
    .navbar .el-button {
        background-color: transparent;
        padding-left: 9px;
        display: none
    }

    .navbar .el-button:before {
        width: 0 !important
    }

    .navbar .el-button span i {
        color: #f0f8ff
    }

    .navbar .el-button a {
        color: #f0f8ff
    }

    .el-menu-vertical-demo {
        display: block
    }

    .el-menu {
        border-right: solid 0 #e6e6e6 !important;
        border-bottom: 1px solid #3d3d3d;
        margin: 0 11px !important
    }

    .el-submenu__title {
        padding-left: 10px !important
    }

    .el-menu li a {
        color: #f0f8ff
    }

    .me-form-22 {
        background-image: none !important;
    }

    .form_card {
        padding: 6px !important;
    }

    .my-style-offer {
        margin-bottom: 150px;
        text-align: center
    }

    .my-style-offer h1 {
        font-size: 25px;
        color: red
    }
}

.me-form-22 {
    text-align: center;
    margin-top: 50px !important;
    justify-content: center;
    display: flex;

}

.me-form-22 .form_card {
    border-radius: 6px !important;
    background: #000000d9 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me-form-22 .form_card form {
    width: 350px
}