<template>
  <div class="container section-content">
    <div class="col" v-for="(item, index) in series" :key="index">
      <div class="serie-card">
        <img :src="'https://order.profildoors.ro/' + item.bg_image" alt="">
        <div class="serie-card-content">
          <a :href="'/' + city_name + '/catalog?serii=' + item.id" class="serie-name">Seria {{ item.name }}</a>
          <div class="serie-excerpt">
            <p>{{ item.bg_description }}</p>
            <a :href="'/' + city_name + '/catalog?serii=' + item.id" class="serie-link">VEZI PRODUSE</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "CatalogSeries",
  props: {
    city_name: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      series: []
    }
  },

  created() {
    this.getSeries();
  },

  methods: {
    getSeries() {
      axios.get('https://order.profildoors.ro/api/series/')
          .then(response => {
            this.series = response.data;
          });
    },
  }
}
</script>

<style scoped>

</style>
