<template>
  <section id="offers-serie">

    <div class="section-name page-title">
      <h1 class="section-sub-title"><span>Uși de interior</span></h1>
    </div>

    <div class="container">

      <div class="mb5" id="series">
        <div class="series">

          <div class="sidenav mobfilter">
            <div class="sidenav-reset">
              <el-button type="primary" class="button is-primary btn-primary" @click="resetFilter()">Resetare filtre
              </el-button>
            </div>
            <div>
              <h3 class="sidenav-section-title">serii</h3>
              <ul class="sidenav-series">
                <li v-for="(serie, index) in series"
                    :key="index">
                  <el-checkbox v-model="filters.series"
                               class="serie_checkbox"
                               :id="serie.name"
                               :label="serie.id">
                    <span> {{ serie.name }}</span>
                  </el-checkbox>
                </li>
              </ul>
            </div>
            <div class="sidenav-culori">
              <h3 class="sidenav-section-title">Culoare</h3>
              <div class="sidenav-section-content">
                <div v-if="group_colors.length > 0">
                  <ul class="sidenav-color">
                    <li v-for="(color, i) in group_colors" :key="i">
                      <el-checkbox v-model="filters.colors"
                                   class="bg_checkbox"
                                   :id="color.name"
                                   :style="`background:url(https://order.profildoors.ro${color.image}) no-repeat;`"
                                   :label="color.id"></el-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="sidenav-window">
              <h3 class="sidenav-section-title">Insertii</h3>

              <div v-if="group_windows.length > 0" class="sidenav-section-content">
                <ul class="sidenav-color">
                  <li v-for="(wind, u) in group_windows"
                      :key="u">
                    <el-checkbox v-model="filters.insertii"
                                 class="bg_checkbox"
                                 :id="wind.name"
                                 :style="`background:url(https://order.profildoors.ro${wind.image}) no-repeat;`"
                                 :label="wind.id"></el-checkbox>
                  </li>
                </ul>
              </div>

            </div>

            <div class="sidenav-stil">
              <h3 class="sidenav-section-title">Stil</h3>
              <div class="sidenav-section-content">
                <el-checkbox-group v-model="filters.tags">
                  <el-checkbox class="tags_checkbox" v-for="(tag, index) in tags" :label="tag.id" :key="index">
                    {{ tag.name }}
                  </el-checkbox>
                </el-checkbox-group>
              </div>

            </div>

            <div class="sidenav-reset">
              <el-button type="primary" class="button is-primary btn-primary" @click="resetFilter()">Resetare filtre
              </el-button>
            </div>

          </div>
          <div class="content">
            <pagination :data="laravelData" @pagination-change-page="getResults" :limit="2" align="center"></pagination>

            <transition-group name=”fade” class="columns is-multiline is-mobile" tag="div" v-if="doors.length > 0">
              <div class="column bigd is-3-desktop is-half-mobile is-half-tablet" v-for="(dor, index) in doors"
                   :key="'index'+index" v-if="getImage(dor) != null">

                <a :href="'/' + city_name + '/product/'+dor.name+'/'+dor.id" class="catalog-img">

                  <img :src="'https://order.profildoors.ro/images'+getImage(dor)" alt="door"
                       style="width: 160px;">
                </a>
                <div class="slide-title has-text-weight-bold">
                  Seria {{ dor.name }}
                </div>
                <div class="slide-link">
                  <a :href="'/' + city_name + '/product/'+dor.name+'/'+dor.id">Vezi culori</a>
                </div>
              </div>
            </transition-group>

            <infinite-loading :identifier="infiniteId" @infinite="infiniteHandler"></infinite-loading>
          </div>

          <!--          <div class="serie-description">-->
          <!--            @if(isset( $thisCategory->lang)){!! $thisCategory->lang->name !!}@endif-->
          <!--            @if(isset($thisCategory->lang)){!! $thisCategory->lang->slug !!}@endif-->
          <!--          </div>-->


        </div>

        <span class="openfilters-mobile" onclick="openNav()">&#9776; FILTRE</span>

        <div id="mySidenav" class="sidenav1">
          <div class="sidenav mobile-sidenav-me">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="sidenav-reset">
              <el-button type="primary" class="button is-primary btn-primary" @click="resetFilter()">Resetare filtre
              </el-button>
            </div>
            <div>
              <h3 class="sidenav-section-title">serii</h3>
              <ul class="sidenav-series">
                <li v-for="(serie, index) in series"
                    :key="index">
                  <el-checkbox v-model="filters.series"
                               class="serie_checkbox"
                               :id="serie.name"
                               :label="serie.id">
                    <span> {{ serie.name }}</span>
                  </el-checkbox>
                </li>
              </ul>
            </div>

            <div class="sidenav-culori">
              <h3 class="sidenav-section-title">Culoare</h3>
              <div class="sidenav-section-content">
                <div v-if="group_colors.length > 0">
                  <ul class="sidenav-color">
                    <li v-for="(color, i) in group_colors"
                        :key="i">
                      <el-checkbox v-model="filters.colors"
                                   class="bg_checkbox"
                                   :id="color.name"
                                   :style="`background:url(https://order.profildoors.ro${color.image}) no-repeat;`"
                                   :label="color.id"></el-checkbox>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="sidenav-window">
              <h3 class="sidenav-section-title">Insertii</h3>

              <div v-if="group_windows.length > 0" class="sidenav-section-content">
                <ul class="sidenav-color">
                  <li v-for="(wind, u) in group_windows"
                      :key="u">
                    <el-checkbox v-model="filters.insertii"
                                 class="bg_checkbox"
                                 :id="wind.name"
                                 :style="`background:url(https://order.profildoors.ro${wind.image}) no-repeat;`"
                                 :label="wind.id"></el-checkbox>
                  </li>
                </ul>
              </div>

            </div>

            <div class="sidenav-stil">
              <h3 class="sidenav-section-title">Stil</h3>

              <div class="sidenav-section-content">
                <el-checkbox-group v-model="filters.tags">
                  <el-checkbox class="tags_checkbox" v-for="(tag, index) in tags" :label="tag.id" :key="index">
                    {{ tag.name }}
                  </el-checkbox>
                </el-checkbox-group>
              </div>

            </div>

            <!--            <div class="sidenav-type-me">-->
            <!--              <h3 class="sidenav-section-title">Tip</h3>-->
            <!--              <div class="sidenav-tip sidenav-section-content" v-if="door_types.length > 0">-->
            <!--                <el-radio-group v-model="door_type">-->
            <!--                  <el-radio :label="dtype.id" v-for="(dtype, index) in door_types" :key="index" @change="GetDors()">@-->
            <!--                    {{ dtype.type }}-->
            <!--                  </el-radio>-->
            <!--                </el-radio-group>-->
            <!--              </div>-->

            <!--            </div>-->

            <div class="sidenav-reset">
              <el-button type="primary" class="button is-primary btn-primary" @click="resetFilter()">Resetare filtre
              </el-button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
  name: "ProductsCatalog",
  components: {
    InfiniteLoading
  },
  props: {
    city_name: {
      type: String,
      default: 'iasi'
    }
  },
  watch: {
    'filters': {
      deep: true,
      handler() {
        this.setFilterSpecification()
      }
    },
    'filters.series': {
      handler() {
        // this.resetFilterIndividual()
      }
    }
  },
  data() {
    return {
      activeTab: 'complect',
      serch: false,
      preloader: true,
      min: 0,
      max: 100,
      serie_id: null,
      group_colors: [],
      group_windows: [],
      door_styles: [],
      door_types: [],

      laravelData: {},

      price: [0, 100],
      color_id: '',
      window_id: '',
      styles: [],
      door_type: '',

      doors: [],
      loading: true,
      page: 1,
      infiniteId: +new Date(),
      show_more: false,
      series: [],
      tags: [],
      filters: {
        series: [],
        colors: [],
        insertii: [],
        tags: []
      },
    }
  },
  mounted() {
    this.getTags();
  },
  created() {
    // if (window.door_tp != null) {
    //   this.styles.push(parseInt(window.door_tp))
    // }

    this.initExternFilters();
    // console.log(this.filters.series.join())
    this.getSeries();
  },
  methods: {
    initExternFilters() {
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());
      if (typeof params.serii !== 'undefined') {
        this.filters.series = params.serii.split(',').map(Number)
      }
      if (typeof params.culori !== 'undefined') {
        this.filters.colors = params.culori.split(',').map(Number)
      }
      if (typeof params.insertii !== 'undefined') {
        this.filters.insertii = params.insertii.split(',').map(Number)
      }
      if (typeof params.taguri !== 'undefined') {
        this.filters.tags = params.taguri.split(',').map(Number)
      }
    },
    setFilterSpecification() {
      let url = ''
      if (this.filters.series.length > 0) {
        let serie_first = '?serii='
        let serie_second = '&serii='
        let serie_link = url !== '' ? serie_second : serie_first;
        url += serie_link + this.filters.series;
      }

      if (this.filters.colors.length > 0) {
        let color_first = '?culori='
        let color_second = '&culori='
        let color_link = url !== '' ? color_second : color_first;
        url += color_link + this.filters.colors
      }

      if (this.filters.insertii.length > 0) {
        let insertii_first = '?insertii='
        let insertii_second = '&insertii='
        let insertii_link = url !== '' ? insertii_second : insertii_first;
        url += insertii_link + this.filters.insertii
      }

      if (this.filters.tags.length > 0) {
        let tags_first = '?taguri='
        let tags_second = '&taguri='
        let tags_link = url !== '' ? tags_second : tags_first;
        url += tags_link + this.filters.tags
      }

      if (this.filters.series.length === 0 && this.filters.colors.length === 0 && this.filters.insertii.length === 0 && this.filters.tags.length === 0) {
        window.history.pushState({}, document.title, window.location.pathname);
      }
      window.history.pushState({pageID: 'catalog'}, 'Catalog', url);
      this.GetDors()

    },

    topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    },
    getSeries() {
      axios.get('https://order.profildoors.ro/api/series/')
          .then(response => {
            this.series = response.data;
            // this.getColors();
            // this.getWindows();
            // this.getTags();
          });
    },
    getTags() {
      axios.get('https://order.profildoors.ro/api/tags/')
          .then(response => {
            this.tags = response.data.data;
          });
    },


    getResults(page = 1) {
      axios.get('https://order.profildoors.ro/api/catalog/', {
        params: {
          page: this.page,
          series: this.filters.series.join(),
          colors: this.filters.colors.join(),
          insertii: this.filters.insertii.join(),
          tags: this.filters.tags.join(),
        }
      }).then(response => {
        this.laravelData = response.data;
        this.doors = response.data.doors;
        this.group_colors = response.data.colors;
        if (response.data.data.length > 0) {

          //this.loading = true
        } else {
          //this.loading = false
        }

      });
    },

    infiniteHandler($state) {
      axios.get('https://order.profildoors.ro/api/catalog/', {
        params: {
          page: this.page,
          series: this.filters.series.join(),
          colors: this.filters.colors.join(),
          insertii: this.filters.insertii.join(),
          tags: this.filters.tags.join(),
        }
      }).then(response => {
        if (response.data.doors.data.length) {
          this.page += 1;
          this.doors.push(...response.data.doors.data);
          this.group_colors = response.data.colors;
          this.group_windows = response.data.windows;
          $state.loaded();
        } else {
          $state.complete();
        }
      });
    },
    // getColors() {
    //   axios.get('https://order.profildoors.ro/api/colors/' + this.serie_id)
    //       .then(response => {
    //         this.group_colors = response.data.data;
    //       });
    // },

    // getWindows() {
    //   axios.get('https://order.profildoors.ro/api/windows/' + this.serie_id)
    //       .then(response => {
    //         this.group_windows = response.data.data;
    //       });
    // },

    GetDors() {
      this.page = 1;
      this.doors = [];
      this.infiniteId += 1;
      // window.scrollTo({
      //   top: this.serie_id == '' ? 220 : 700,
      //   behavior: "smooth"
      // });
    },
    resetFilter() {
      this.filters = {
        series: [],
        colors: [],
        insertii: [],
        tags: []
      }
    },

    resetFilterIndividual() {
      this.filters.colors = []
      this.filters.insertii = []
      this.filters.tags = []
    },
    getImage(door) {
      let img = 'no-image.png';
      if (this.color_id == '' && this.window_id == '') {
        if (door.colors.length > 0) {
          // img = door.colors[0].image_original != null ? door.colors[0].image_original : 'no-image.png'
          img = door.colors[0].image_original ? '/catalog-img-original/' + door.colors[0].image_original : '/catalog/' + door.colors[0].image
        }
      } else if (this.color_id != '' && this.window_id == '') {
        if (door.colors.length > 0) {
          let color = door.colors.find(color => color.color_id == this.color_id);
          // img = color.image_original != null ? color.image_original : 'no-image.png'
          img = color.image_original ? '/catalog-img-original/' + color.image_original : '/catalog/' + color.image
        }
      } else if (this.color_id == '' && this.window_id != '') {
        let vind = []
        if (door.colors.length > 0) {
          door.colors.forEach((el) => {
            if (el.windows.length > 0) {
              el.windows.forEach((e) => {
                vind.push(e)
              })
            }
          })
        }

        if (vind.length > 0) {
          let w = vind.find(w => w.window_id == this.window_id);
          img = w.image_original ? '/catalog-img-original/' + w.image_original : '/catalog/' + w.image
        }
      } else if (this.color_id != '' && this.window_id != '') {
        if (door.colors.length > 0) {
          let color = door.colors.find(color => color.color_id == this.color_id);

          if (color.windows.length > 0) {
            let w = color.windows.find(w => w.window_id == this.window_id);
            img = w.image_original ? '/catalog-img-original/' + w.image_original : '/catalog/' + w.image
          }
        }

      }
      return img
    },
  },
  computed: {
    textShow() {
      if (this.show_more == false) {
        return 'Află mai multe detalii despre această serie'
      } else {
        return 'Ascunde informatiile adaugatoare'
      }
    }
  },
}
</script>

<style lang="scss">
.serie_checkbox {
  width: 100%;
  height: 100%;

  .el-checkbox__input {
    display: none;
  }

  .is-checked {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: 50%;
  }

  .el-checkbox__label {
    visibility: visible;
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.bg_checkbox {
  .el-checkbox__input {
    display: none;
  }

  .is-checked {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: 50%;
  }

  .el-checkbox__label {
    visibility: hidden;
    display: inline-block;
    //padding: 0 0 0 0;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-size: 50%;
  }
}
</style>
